*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.App{
  display:flex;
  justify-content: center;
  width:100%;
  min-height:100vh;
  background-color: #E5DCC3;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width:90%;
}


.container>img{
width: 70%;
}

.links{
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
